APR.Web.UI.Portal/Service References/MyAuditPortalSrvc/MyAuditPortalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyAuditPortalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://apr-webdev-srvr.apauditcorp.com:8880/MyAuditPortalWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://apr-webdev-srvr.apauditcorp.com:8880/MyAuditPortalWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://apr-webdev-srvr.apauditcorp.com:8880/MyAuditPortalWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/APR.Common.Objects.Database.Mapping.Tables.APRSQLCuster.APRPortal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMyAuditPortal_GetAprAuditInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAprAuditInvoices" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_GetAprAuditInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAprAuditInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_GetAprAuditClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAprAuditClaims" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_GetAprAuditClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAprAuditClaimsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_GetUsersAuditNamesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersAuditNamesList" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_GetUsersAuditNamesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersAuditNamesListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_GetUserInfoByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoByUserName" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_GetUserInfoByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_SaveClaimInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClaimInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_SaveClaimInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClaimInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_SaveClaimComments_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClaimComments" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_SaveClaimComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClaimCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_SaveInvoiceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvoiceInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_SaveInvoiceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvoiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_SaveInvoiceComments_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvoiceComments" />
  </wsdl:message>
  <wsdl:message name="IServiceMyAuditPortal_SaveInvoiceComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvoiceCommentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMyAuditPortal">
    <wsdl:operation name="GetAprAuditInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/GetAprAuditInvoices" message="tns:IServiceMyAuditPortal_GetAprAuditInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/GetAprAuditInvoicesResponse" message="tns:IServiceMyAuditPortal_GetAprAuditInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAprAuditClaims">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/GetAprAuditClaims" message="tns:IServiceMyAuditPortal_GetAprAuditClaims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/GetAprAuditClaimsResponse" message="tns:IServiceMyAuditPortal_GetAprAuditClaims_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersAuditNamesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/GetUsersAuditNamesList" message="tns:IServiceMyAuditPortal_GetUsersAuditNamesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/GetUsersAuditNamesListResponse" message="tns:IServiceMyAuditPortal_GetUsersAuditNamesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/GetUserInfoByUserName" message="tns:IServiceMyAuditPortal_GetUserInfoByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/GetUserInfoByUserNameResponse" message="tns:IServiceMyAuditPortal_GetUserInfoByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveClaimInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/SaveClaimInfo" message="tns:IServiceMyAuditPortal_SaveClaimInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/SaveClaimInfoResponse" message="tns:IServiceMyAuditPortal_SaveClaimInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveClaimComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/SaveClaimComments" message="tns:IServiceMyAuditPortal_SaveClaimComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/SaveClaimCommentsResponse" message="tns:IServiceMyAuditPortal_SaveClaimComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInvoiceInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/SaveInvoiceInfo" message="tns:IServiceMyAuditPortal_SaveInvoiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/SaveInvoiceInfoResponse" message="tns:IServiceMyAuditPortal_SaveInvoiceInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInvoiceComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/SaveInvoiceComments" message="tns:IServiceMyAuditPortal_SaveInvoiceComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMyAuditPortal/SaveInvoiceCommentsResponse" message="tns:IServiceMyAuditPortal_SaveInvoiceComments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMyAuditPortal" type="tns:IServiceMyAuditPortal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAprAuditInvoices">
      <soap:operation soapAction="http://tempuri.org/IServiceMyAuditPortal/GetAprAuditInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAprAuditClaims">
      <soap:operation soapAction="http://tempuri.org/IServiceMyAuditPortal/GetAprAuditClaims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersAuditNamesList">
      <soap:operation soapAction="http://tempuri.org/IServiceMyAuditPortal/GetUsersAuditNamesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByUserName">
      <soap:operation soapAction="http://tempuri.org/IServiceMyAuditPortal/GetUserInfoByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClaimInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceMyAuditPortal/SaveClaimInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClaimComments">
      <soap:operation soapAction="http://tempuri.org/IServiceMyAuditPortal/SaveClaimComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInvoiceInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceMyAuditPortal/SaveInvoiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInvoiceComments">
      <soap:operation soapAction="http://tempuri.org/IServiceMyAuditPortal/SaveInvoiceComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyAuditPortalService">
    <wsdl:port name="BasicHttpBinding_IServiceMyAuditPortal" binding="tns:BasicHttpBinding_IServiceMyAuditPortal">
      <soap:address location="http://apr-webdev-srvr.apauditcorp.com:8880/MyAuditPortalWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>